SWIFT_ACTIVE_COMPILATION_CONDITIONS =
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
STRIP_SWIFT_SYMBOLS = YES
CLANG_ENABLE_CODE_COVERAGE = NO
CLANG_COVERAGE_MAPPING = NO
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO
VALIDATE_PRODUCT = YES

KODOSI_NON_PUBLISHABLE_BUILD = NO
KODOSI_DEBUG_BACKEND_HOST = ""
KODOSI_DEBUG_BACKEND_PORT = ""

LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Frameworks/KodosiKit.xcframework/macos-arm64-release
